body{
    margin: 0;
    overflow: hidden;
}

canvas{
    position: absolute;
}

#canvas_notes{
    z-index: 5449;
}

#canvas_obstacles{
    z-index: 5449;
}

.ecran_rouge{
    background-color: red;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 988679;
    opacity: 40%;
    display: none;
}