@font-face {
    font-family: pixel;
    src: url(../font/Daydream.ttf);
}

body {
    margin: 0;
    overflow: hidden;
}

body>img {
    display: none;
}

canvas {
    position: absolute;
    z-index: 488;
}

#canvas_notes {
    z-index: 5449;
}

#canvas_obstacles {
    z-index: 5449;
}

.score {
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6000;
    margin-top: 8px;
    margin-left: 8px;
    font-family: pixel;
    font-size: 10px;
    color: rgb(196, 166, 0);
}

.score_present {
    opacity: 100% !important;
}

.rouge {
    background-color: red;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 988679;
    opacity: 40%;
    transition: background-color 1s ease;
}

.vert {
    background-color: rgb(0, 255, 255);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 988679;
    opacity: 40%;
    transition: background-color 1s ease;
}

.ecran_rouge {
    transition: none;
}

.lancement {
    height: 100vh;
    width: 100vw;
    background-color: rgb(197, 149, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-image: url("../img/jeu1/bar_debut.jpg");
    background-size: cover;
    background-position: center;
}

.cheat {
    background-image: linear-gradient(rgb(223, 220, 65), rgb(172, 120, 10)) ;
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-family: pixel;
    padding: 32px;
    z-index: 2;
    width: 60%;
    border-radius: 16px;
}

.mauvais_cheat{
    display: none;
    margin-top: 8px;
    font-family: pixel;
    color: rgb(150, 12, 35);
    font-size: 10px;
}

input {
    padding: 8px;
}

.valider {
    background-image: linear-gradient(rgb(238, 238, 76), rgb(233, 173, 42));
    text-align: center;
    padding: 16px 8px;
    border-radius: 8px;
}

.lancement>div {
    background-image: linear-gradient(rgb(238, 238, 76), rgb(233, 173, 42));
    font-family: pixel;
    width: 40%;
    text-align: center;
    padding: 16px 8px;
    border-radius: 8px;
}

.fin {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    height: 100vh;
    width: 100vw;
    font-family: pixel;
    background-image: url("../img/jeu1/gambri.jpg");
    background-size: cover;
    background-position: right;
    text-align: center;
}

.apparition {
    display: flex !important;
}

.fin_1>div {
    background-image: linear-gradient(rgb(236, 236, 66), rgb(206, 146, 18));
    padding: 16px;
    border-radius: 8px;
}

.fin_1>div:first-of-type {
    margin-bottom: 32px;
}

.fin_2>div:first-of-type {
    margin-bottom: 64px;
}

.fin_2>div{
    background-image: linear-gradient(rgb(168, 81, 240), rgb(124, 34, 197));
    /* background-color: rgb(161, 72, 235); */
    padding: 16px;
    border-radius: 8px;
}

.suite {
    display: none;
}

.sombre {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.500);
    display: none;
}

.fin_1>.cheatcode {
    display: none;
}

.fond_jeu {
    display: none;
}

.fond_image {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/jeu1/bar.jpg");
    background-size: cover;
    background-position: bottom;
}

.fond_sombre {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 1;
}