body {
    background-color: rgba(135, 207, 235, 0);
    margin: 0;
}

#route{
    z-index: 0;
}

#maisons {
    z-index: 1;
}

#obstacles {
    z-index: 2;
}

#perso {
    z-index: 3;
}

canvas {
    position: absolute;
}