@font-face {
    font-family: pixel;
    src: url(../font/Daydream.ttf);
}

body {
    overflow: hidden;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.invisibleImage{
    display: none;
}

.leaflet-control-container{
    display: none !important;
}

.grid {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 90%;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.grid>div {
    background: rgba(54, 30, 11, 0.74);
    padding: 5px;
}

#map {
    height: 150px;
}

.grande {
    grid-column: span 2;
}

.first {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/fond-jeu3-debut.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.cache {
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.329);
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 100px;
}

.startGame, .tutorial {
    font-family: pixel;
    background: linear-gradient(45deg, #FFB515, #8E4E16);
    padding: 8px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.25);
    padding-inline: 20px;
    color: #000004;
    -webkit-text-stroke: 1px #FFF1B8;
    text-align: center;
    transform: scale(0);
    animation: popbutton 0.3s ease-in-out forwards;
    z-index: 1002;
}

@keyframes popbutton {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.none {
    animation: enlever 0.4s ease-in-out forwards;
}

@keyframes enlever{
    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(1.2);
    }
    99%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
        display: none;
    }
}

.video{
    position: absolute;
    z-index: 1003;
    align-items: center;
    justify-content: center;
    display: none;
    transform: scale(0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ouvrir{
    display: flex;
    animation: openvid 0.5s forwards ease-in-out;
}

@keyframes openvid{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.video>.global{
    position: relative;
    width: 80%;
}

.video>.global>video{
    display: flex;
    border: 10px #F6EFDB solid;
    box-sizing: border-box;
    width: 100%;
}

.errorWindow {
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    border: 3px solid #B26E00;
    transform: translate(-50%, -50%);
    background: #F6EFDB;
    box-shadow: 2px 2px 2px #000004;
    z-index: 1005;
    padding: 20px;
    padding-inline: 50px;
    font-size: 20px;
    display: none;
    transform: scale(0);

}

.buttons-error>div{
    font-family: pixel;
    background: linear-gradient(45deg, #FFB515, #8E4E16);
    padding: 8px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.25);
    padding-inline: 20px;
    color: #000004;
    -webkit-text-stroke: 1px #FFF1B8;
    text-align: center;
    z-index: 1002;
    transition: 0.3s;
}
.button-single-map:active{
    transform: scale(0.9);
}

.ouvrirerror{
    display: block;
    animation: open2 0.5s forwards ease-in-out;
}

.closerror{
    display: block;
    animation: close2 0.5s forwards ease-in-out;
}

.closevid{
    display: flex;
    animation: closevid 0.5s forwards ease-in-out;
}

@keyframes closevid{
    0%{
        transform: scale(1);
    }
    99%{
        transform: scale(0);
    }
    100%{
        display: none;
    }
}


@keyframes close2{
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    99%{
        transform: translate(-50%, -50%) scale(0);
    }
    100%{
        display: none;
    }
}

@keyframes open2{
    0%{
        transform: translate(-50%, -50%) scale(0);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}

.button-single-game:active{
    transform: scale(0.9);
}

.buttons-error{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.visible{
    display: block;
}

.croix-video{
    background-color: #F6EFDB;
    position: absolute;
    bottom: 3px;
    z-index: 10000;
    left: 3px;
}

.victoire, .defaite{
    position: fixed;
    z-index: 10005;
    background: #FFF1B8;
    color: #000004;
    padding: 10px;
    border: solid 5px #8E4E16;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: none;
    gap: 25px;
    flex-direction: column;
    width: 80%;
    font-size: 18px;
}

.title-stat{
    font-weight: bold;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.button-victory, .button-play-again{
    font-family: pixel;
    background: linear-gradient(45deg, #FFB515, #8E4E16);
    padding: 8px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.25);
    padding-inline: 20px;
    color: #000004;
    -webkit-text-stroke: 1px #FFF1B8;
    text-align: center;
    transition: 0.4s;
}

.button-victory:active, .button-play-again:active{
    transform: scale(0.9);
}

.openEndGame{
    display: flex;
    animation: open2 0.5s forwards ease-in-out;
}