body {
    margin: 0;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

#map {

    height: 750px;
    padding: 10px;

}

.mapo {
    display: none;
    box-sizing: border-box;
    border: solid 10px #F1AE43;
}

img {
    width: 100%;
}

.startpart {
    position: fixed;
    display: flex;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.black-bg {
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    right: 0;
}

#sky {
    background-image: url(../img/sky.jpg);
    background-size: cover;
    z-index: 101;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: forwards ease-in-out 0.2s entrance;
}

#plaine {
    background-image: url(../img/plaine.png);
    background-size: 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    z-index: 103;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    animation-delay: 0.2s;
    animation: forwards ease-in-out 0.4s entrance-bottom;
}

@keyframes entrance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes entrance-bottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}



.lueure-orange {
    background: linear-gradient(370deg, #ed9f216d, transparent);
    position: absolute;
    top: 0;
    animation: forwards ease-in-out 0.4s entrance-bottom;
    animation-delay: 0.3s;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 102;
    right: 0;
}


.rectangle-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 105;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.308);
}



.rectangle-nuit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 104;
    bottom: 0;
    background: linear-gradient(200deg, #00012770, transparent);
}

@font-face {
    font-family: pixel;
    src: url(../font/Daydream.ttf);
}

.informations {
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    justify-content: center;
    color: #EB9100;
    font-family: pixel;
    -webkit-text-stroke: 2px #5C2B00;
    font-size: 30px;
    width: 100%;
}

.title-main-page {
    text-align: center;
}

.title-main-page>span {
    display: inline-block;
    opacity: 0;
    animation: 0.2s entreehaute ease-in-out forwards;
    animation-delay: var(--delais);
}

.title-main-page>p>span {
    display: inline-block;
    opacity: 0;
    animation: 0.2s entreehaute ease-in-out forwards;
    animation-delay: var(--delais);
}

@keyframes entreehaute {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}


.bouton-main-page {
    background: linear-gradient(45deg, #FFB515, #8E4E16);
    padding: 8px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.25);
    padding-inline: 20px;
    color: #000004;
    -webkit-text-stroke: 2px #FFF1B8;
    transform: scale(0);
    animation: popbutton 0.3s ease-in-out forwards;
    animation-delay: 1.20s;
    z-index: 1000;
}

@keyframes popbutton {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* .clouds{
    position: absolute;
    z-index: 8;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.cloud-right{
    filter: drop-shadow(3px 5px 0px #00000050);
    position: absolute;
    animation: entry-right 0.4s ease-in-out forwards;
}

#last-cloud{
    top: -150px;
    width: 400px;
    left: -100px;
}

#prelast-cloud{
    top: 500px;
    
    left: 10px;

} */

.lueure {
    position: absolute;
    z-index: 107;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    animation: forwards ease-in-out 0.4s entrance-bottom;
    animation-delay: 0.3s;
    background: linear-gradient(45deg, #FB7D24 -50%, transparent 40%);
}

#particules {
    position: absolute;
    z-index: 108;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    animation: forwards ease-in-out 0.4s entrance-bottom;
    animation-delay: 0.5s;
}

#transition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.story-resume {
    display: none;
}

.menu-hamburger {
    position: relative;
    width: 80%;
    z-index: 10;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.barres {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
    background: #F1AE43;
    padding: 10px;
}

.barre {
    width: 50px;
    height: 5px;
    background: #5C2B00;
}


.categories {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background: #F1AE43;
}

.jeux {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background: #F1AE43;
}

.jeux>a>p {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.categories>div {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.categories>div:hover {
    background: #5C2B00;
    color: #FFF1B8;
}

.jeux>a:hover>p {
    background: #5C2B00;
    color: #FFF1B8;
}

.bgFixed {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.cache-black {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000053;
    z-index: 9;
    display: none;
}

.ouvert {
    display: block;
}